.sliderimg{
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -5;
  }
  
 .slider li, a {
    padding: 0px 2px;
}

.alice-carousel__next-btn,.alice-carousel__prev-btn  {
    text-align: right;
    display: none;
}
.slider{
    margin-top: 5rem;
}
