.App {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

li{
  list-style: none;
  cursor: pointer;
  font-size: 14px;
}
a{
  text-decoration: none;
  color: black;
}